<div class="contextual">
  <% if params[:warehouse_id].nil? %>
      <%= link_to( 'inventories', inventories_path, class: 'icon icon-add') if params[:action] != 'index' %> |
      <%= link_to( 'new inventory', new_inventory_path(@warehouse))  if params[:action] != 'new' %>
  <% else %>
      <%= link_to( 'inventories', warehouse_inventories_path(@warehouse), class: 'icon icon-add') if params[:action] != 'index' %> |
      <%= link_to( 'new inventory', new_warehouse_inventory_path(@warehouse))  if params[:action] != 'new' %>
  <% end %>

  <% if @inventory %>
      | <%= link_to( 'Move', move_inventory_path(@inventory), class: 'icon icon-move') if params[:action].in? ['show', 'edit'] %>
  <% end %>
</div>
