
    <div class="autoscroll">
      <table class="list ">
        <thead>
        <tr>

          <% query.inline_columns.each do |column| %>
              <%= column_header(column) %>
          <% end %>
          <th></th>
        </tr>
        </thead>
        <% previous_group, first = false, true %>
        <tbody>
        <% inventories.each do |inventory| -%>
            <% if @query.grouped? && ((group = @query.group_by_column.value(inventory)) != previous_group || first) %>
                <% reset_cycle %>
                <tr class="group open">
                  <td colspan="<%= query.inline_columns.size + 2 %>">
                    <span class="expander" onclick="toggleRowGroup(this);">&nbsp;</span>
                    <%= (group.blank? && group != false) ? l(:label_none) : column_content(@query.group_by_column, inventory) %> <span class="count"></span>
                    <%= link_to_function("#{l(:button_collapse_all)}/#{l(:button_expand_all)}",
                                         "toggleAllRowGroups(this)", :class => 'toggle-all') %>
                  </td>
                </tr>
                <% previous_group, first = group, false %>
            <% end %>
            <tr id="inventory-<%= inventory.id %>" class="hascontextmenu <%= cycle('odd', 'even') %>  ">
                <%= raw query.inline_columns.map {|column| "<td class=\"\">#{column_content(column, inventory)}</td>"}.join %>

              <td>
                <% if inventory.editable_by? %>
                    <%= link_to image_tag('edit.png'), edit_inventory_path(inventory),
                                :title => l(:button_edit) %>
                    <%= link_to image_tag('move.png'), move_inventory_path(inventory),
                                :title => l(:button_move) %>
                    <%= link_to image_tag('delete.png'), inventory_path(inventory),
                                :data => {:confirm => l(:text_are_you_sure)},
                                :method => :delete,
                                :title => l(:button_delete) %>
                <% end %>
              </td> </tr>
            <% @query.block_columns.each do |column|
              if (text = column_content(column, inventory)) && text.present? -%>
                    <tr class="<%= current_cycle %>">
                      <td colspan="<%= @query.inline_columns.size + 1 %>" class=""><%= text %></td>
                    </tr>
                <% end -%>
            <% end -%>
        <% end -%>
        </tbody>
      </table>
    </div>

